.about{
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-container{
    scroll-snap-align: center;
    height: 100vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header{
    font-size: 25px;
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    height: 50vh;
    width: 600px;
}
.about-content {
    display: flex;
    align-items: center;
    width: 600px;
}

.image-content {
    display: flex;
    padding-top: 4cm;
    padding-right: 1cm;
    max-width: 530px;
    height: 65vh;
}
.about-desc {
    font-size: 18px;
    font-weight: 500;
    font-family: "NTR", sans-serif;
    width: 600px;
    line-height: 1.8;
    color: darkgray;
    text-align: justify;
    margin: 0;
    padding-top: 0.5cm;
    padding-bottom: 1cm;
}
.list-skills{
    display: flex;
    align-items: center;
    gap: 30px;
}
li{
    list-style: None;
}

@media only screen and (max-width: 600px) {
    .image-content{
        display: None;
    }
    .about-container{
        display: column;
        width: 350px;
    }
    .about-desc{
        width: 320px;
        padding-bottom: 0;
    }
}