.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's above other elements */
    height: 60px; /* Adjust the height as needed */
    background-color: black;/* Change the background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.section{
    display: flex;
    justify-content: center;
}
.container{
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 20px;
    color: white;
    padding: 10px 0;
}

.icons{
    display: flex;
    gap: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    align-items: center;
}
.icons a{
    color: white;
    text-decoration: None;

}
.icons div:not(.my-name):hover a{
    cursor: pointer;
    color: lightpink;
}
.links div:hover{
    cursor: pointer;
    color: lightpink;
}
.my-name{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: row;
        width: 450px;
        justify-content: flex-end;
    }
    .icons {
        display: none;
    }
}